*{
    margin: 0;
    padding: 0;
    font-family: Lora, Ubuntu;
  
  }
  #main {
    margin: auto 0px auto 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(240, 255, 240, 1);
  }
  #logo{
    margin: auto 0px 0px auto;
    font-size: 15em;
    color: rgb(30, 100, 154);
    letter-spacing: -1.1cm;
    line-height: -3cm;
  
  }
  #slogan{
    margin-top: -50px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1cm;
  }
  #button{
    font-family: "Trebuchet MS";
    margin-top: 50px;
    color: rgb(1, 115, 245);
    border-radius: 8px;
    font-size: 50px;
    border-color: rgb(1, 115, 245);
    background-color: white;
    
  }
  #button:hover {
    font-family: "Trebuchet MS";
    margin-top: 50px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 50px;
    border-color: rgb(1, 115, 245);
    background-color: rgb(1, 115, 245);
    cursor: pointer;
    
  }
  #painel{
    
    width: 400px;
    height: 600px;
    border-radius: 8px;
    background-color: rgba(240, 255, 240, 1);
  }
  #login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh;
    background:url(../image/imagem-2.jpg) center ;

  }
  
  /*Escondendo a barra de rolangem, também pode ser feito com 'overflow = hidden', no entanto o site perde a funcionalidade de rolagem*/
  ::-webkit-scrollbar { 
    display: none; 
  }
  