/********************Instruções***********************/
/*
  1 - Sempre ao especificar um identificador (ou seja, um ID), utilizar hierarquia de divs para marcar o elemento
*/
*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;   
    font-family: Lora, Ubuntu;
    --teste: display: none;
    
  }

/*********************************** Início das configurações da "div Main"  ******************************/
  #main {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(240, 255, 240, 1);
    min-width: 1080px;
  }
  .logo{
    margin: auto 0px 0px auto;
    font-size: 1350%;
    color: rgb(64, 115, 155);
    letter-spacing: -1.1cm;
    line-height: -3cm;
  }
  .slogan{
    margin-top: -40px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1cm;
  }
  #button-main{
    border: 2.5px solid rgb(4, 116, 196);
    margin: 80px 0px 0px 0;
    font-size: 50px;
    padding: 0px 3px 0px 3px;
  }
  #button-main:hover {
    border: 2.5px solid rgb(4, 116, 196);
    margin: 80px 0px 0px 0px;
    font-size: 50px;
    padding: 0px 3px 0px 3px;
  }
 
/************************************** Fim da "div main" ************************************************/
  
 
/******************************* Início das configurações da "div login" *********************************/
  #login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    text-align: center;
    width: 100vw; 
    height: 100vh;
    background:url(../image/imagem-2.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  
  
  
  #btn-painel{
    display: block;
    border: 2.5px solid rgba(4, 116, 196, 1);
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 18vw;
    transition: all 0.3s;
    cursor: pointer;
    margin: 25px 0px 0px 0px;
    
    
  }
  #btn-painel span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    /*transition: 0.2s;*/
  }
  #btn-painel span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.1s;
  }
  #btn-painel:hover span {
    padding-right: 25px;
  }
  #btn-painel:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /**************************************** Fim do login*************************************************/

  /************************************* Configurações gerais********************************************/
  ::-webkit-scrollbar { 
    /*Escondendo a barra de rolangem, também pode ser feito com 'overflow = hidden', no entanto o site perde a funcionalidade de rolagem*/
    display: none; 
  }
  
  .button{ 
    /*Azul claro = 30 155 245*/
    font-family: "PT Sans", sans-serif;
    color: rgb(4, 116, 196);
    border-radius: 8px;
    border-color: rgb(4, 116, 196);
    background-color: white;
    text-align:center;
    outline: none;
  }
  .button:hover {
    font-family: "PT Sans", sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: rgb(4, 116, 196);
    background-color: rgb(4, 116, 196);
    cursor: pointer;
    background: linear-gradient( to bottom, rgba(4, 116, 196, 0.9), rgba(4, 116, 196, 1));
    text-align:center;
    outline: none;
  }

  /*********************Trabalhando no momento*************************/
  .painel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 20vw;
    height: 70vh;
    min-width: 250px;
    min-height:500px;
    max-height: 70vh;
    border-radius: 8px;
    background-color: rgba(240, 255, 240, 1);
   
  }

  .painel h1, #painel h1{
    font-size:1.8em;
    font-weight: 900;
  }

  .painel span, #painel span{
    font-size:0.8em;
  }
  #painel1{
    display: none;   
  }
  #painel2{
    display: none;   
  }

